.options {
  width: 990px;
  height: 40px;
  margin: 48px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom-left-radius: 12px; */
  /* border-bottom: 2px solid #1e4469; */
}

.options .btnOptions {
  text-align: center;
  width: 330px;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 2px solid #1e4469;
}

.activelt {
  background-color: #1e4469;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.active {
  /* background-color: #1e4469; */
}

.activert {
  /* background-color: #1e4469;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px; */
}
